{{ define "title" }}Data Obat{{ end }}

{{ define "content" }}
<div class="row mt-3 justify-content-center">
    <div class="col-lg-8">
        <div class="card shadow mb-4">
            <div class="card-header bg-dark text-white">
                <h4 class="card-title">Data Obat</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive table-wrapper-scroll-y my-custom-scrollbar">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Kode Obat</th>
                                <th scope="col">Nama Obat</th>
                                <th scope="col">Harga</th>
                                <th scope="col">Stok</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{ range .drugs }}
                            <tr>
                                <th scope="row">{{ .Code }}</th>
                                <td>{{ .Name }}</td>
                                <td>{{ .Price }}</td>
                                <td>{{ .Stock }}</td>
                            </tr>
                            {{ end }}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}